# Database
DATABASE_URL="mongodb://localhost:27017/cater-go"

# Security
JWT_SECRET="your-super-secret-jwt-key-at-least-32-characters-long"
JWT_EXPIRY=7d

# Server
PORT=3000

# Frontend URLs (for CORS)
ADMIN_URL="http://localhost:3001"
FRONTEND_URL="http://localhost:3002"