@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans:
		"Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

:root {
	/* Base layout */
	--radius: 1rem;
	--spacing: 0.25rem;
	--letter-spacing: 0px;
	--tracking-normal: 0px;

	/* Colors */
	--background: oklch(0.9834 0.0042 236.4956);
	--foreground: oklch(0.3351 0.0331 260.912);
	--card: oklch(1 0 0);
	--card-foreground: var(--foreground);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);

	--primary: oklch(0.7045 0.1926 39.2308);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9588 0.0086 247.9151);
	--secondary-foreground: var(--foreground);

	--muted: var(--secondary);
	--muted-foreground: oklch(0.7409 0.0216 243.5187);
	--accent: var(--secondary);
	--accent-foreground: var(--foreground);

	--destructive: oklch(0.6137 0.2039 25.5645);
	--destructive-foreground: oklch(1 0 0);

	--border: oklch(0.9288 0.0126 255.5078);
	--input: var(--border);
	--ring: var(--primary);

	/* Charts */
	--chart-1: var(--primary);
	--chart-2: var(--foreground);
	--chart-3: oklch(0.7096 0.1434 154.5316);
	--chart-4: var(--destructive);
	--chart-5: var(--muted-foreground);

	/* Sidebar */
	--sidebar: var(--card);
	--sidebar-foreground: var(--foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: var(--secondary);
	--sidebar-accent-foreground: var(--foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--primary);

	/* Shadows */
	--shadow-color: #000;
	--shadow-opacity: 0;
	--shadow: 0 0 0 0 hsl(0 0% 0% / 0);
}

.dark {
	--background: oklch(0.191 0.0175 264.0284);
	--foreground: oklch(0.9834 0.0042 236.4956);

	--card: oklch(0.2345 0.0273 262.5024);
	--card-foreground: var(--foreground);
	--popover: oklch(0.2345 0.0273 262.5024);
	--popover-foreground: oklch(0.985 0 0);

	--secondary: oklch(0.3351 0.0331 260.912);
	--secondary-foreground: var(--foreground);
	--muted: var(--secondary);
	--accent: var(--secondary);
	--border: var(--secondary);
	--input: var(--secondary);

	--sidebar: var(--card);
	--sidebar-foreground: var(--foreground);
	--sidebar-accent: var(--secondary);
	--sidebar-accent-foreground: var(--foreground);
	--sidebar-border: var(--secondary);
}

/* Theme mapping */
@theme inline {
	/* Radius scale */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Color mapping */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-shadow-color: var(--shadow-color);

	/* Tracking scale */
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	/* Shadows */
	--shadow: var(--shadow);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover {
		-webkit-box-shadow: 0 0 0 1000px var(--color-background) inset !important;
		box-shadow: 0 0 0 1000px var(--color-background) inset !important;
		-webkit-text-fill-color: var(--foreground) !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}
